<div class="password-requirements">
  <h4>Password Requirements:</h4>
  <div class="requirement-item">
    <mat-icon [class.met]="requirements.minLength" [class.unmet]="!requirements.minLength">
      {{ requirements.minLength ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span>At least 11 characters</span>
  </div>
  <div class="requirement-item">
    <mat-icon [class.met]="requirements.hasUppercase" [class.unmet]="!requirements.hasUppercase">
      {{ requirements.hasUppercase ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span>At least one uppercase letter</span>
  </div>
  <div class="requirement-item">
    <mat-icon [class.met]="requirements.hasLowercase" [class.unmet]="!requirements.hasLowercase">
      {{ requirements.hasLowercase ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span>At least one lowercase letter</span>
  </div>
  <div class="requirement-item">
    <mat-icon [class.met]="requirements.hasNumber" [class.unmet]="!requirements.hasNumber">
      {{ requirements.hasNumber ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span>At least one number</span>
  </div>
  <div class="requirement-item">
    <mat-icon [class.met]="requirements.hasSpecial" [class.unmet]="!requirements.hasSpecial">
      {{ requirements.hasSpecial ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span>At least one special character</span>
  </div>
  <div class="requirement-item">
    <mat-icon [class.met]="requirements.passwordsMatch" [class.unmet]="!requirements.passwordsMatch">
      {{ requirements.passwordsMatch ? 'check_circle' : 'cancel' }}
    </mat-icon>
    <span>Passwords match</span>
  </div>
</div>

